.DS_Store
node_modules/
dist/
dist-ssr/
*.local
*.log
*.swp
*.swo
.env
.env.local
.env.*.local
.vscode/launch.json
.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/
.nyc_output/
build/
out/
